
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Trainee Management System</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header -->
	<header id="header">
		<div class="container">

			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a class="logo">
						<img src="/./img/logo.png" alt="logo">
					</a>
				</div>
				<!-- /Logo -->
				<!-- Mobile toggle -->
				<button class="navbar-toggle">
					<span></span>
				</button>
				<!-- /Mobile toggle -->
			</div>

			<!-- Navigation -->
			<nav id="nav">
				<ul class="main-menu nav navbar-nav navbar-right">
					<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Instructor") ? "active" : "")">
						<a asp-action="GetAll" asp-controller="Instructor" onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							Instructors
						</a>

					</li>
					<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Trainee") ? "active" : "")">
						<a asp-action="GetAll" asp-controller="Trainee"
							onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							Trainees
						</a>

					</li>
					<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Course") ? "active" : "")">
						<a asp-action="GetAll" asp-controller="Course"
						   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							Courses
						</a>

					</li>
					<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Department") ? "active" : "")">
						<a asp-action="GetAll" asp-controller="Department"
						   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							Deparments
						</a>
					</li>
					<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "TraineeCourses") ? "active" : "")">
						<a asp-action="GetAll" asp-controller="TraineeCourses"
						   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							TraineeCourses
						</a>
					</li>
				</ul>
			</nav>

			<!-- /Navigation -->

		</div>
	</header>
	<!-- /Header -->
	<!-- Hero-area -->
	<div class="hero-area section">

		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/./img/page-background.jpg)"></div>
		<!-- /Backgound Image -->

		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h1 class="white-text">Trainee Management System</h1>

				</div>
			</div>
		</div>

	</div>
	<!-- /Hero-area -->
	<!-- Contact -->
	<div id="contact" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<!-- contact form -->
				<!-- /contact form -->
				<!-- contact information -->
@* 				<div class="col-md-5 col-md-offset-1">
					<h4>Contact Information</h4>
					<ul class="contact-details">
						<li><i class="fa fa-envelope"></i>Educate@email.com</li>
						<li><i class="fa fa-phone"></i>122-547-223-45</li>
						<li><i class="fa fa-map-marker"></i>4476 Clement Street</li>
					</ul>

					<!-- contact map -->
					<div id="contact-map"></div>
					<!-- /contact map -->

				</div> *@
				@RenderBody()
				<!-- contact information -->

			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</div>
	<!-- /Contact -->
	<!-- Footer -->
	<footer id="footer" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<!-- footer logo -->
				<div class="col-md-6">
					<div class="footer-logo">
						<a class="logo">
							<img src="/./img/logo.png" alt="logo">
						</a>
					</div>
				</div>
				<!-- footer logo -->
				<!-- footer nav -->
				<div class="col-md-10">
					<ul class="main-menu nav navbar-nav navbar-right">
						<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Instructor") ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Instructor" onclick="if (this.parentElement.classList.contains('active')) { return false; }">
								Instructors
							</a>

						</li>
						<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Trainee") ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Trainee"
							   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							   Trainees
							</a>
						</li>
						<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Course") ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Course"
							   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
							   Courses
							</a>
						</li>
						<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Course") ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Department"
							   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
								Deparments
							</a>
						</li>
						<li class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "TraineeCourses") ? "active" : "")">
							<a asp-action="GetAll" asp-controller="TraineeCourses"
							   onclick="if (this.parentElement.classList.contains('active')) { return false; }">
								TraineeCourses
							</a>
						</li>
					</ul>
				</div>
				<!-- /footer nav -->

			</div>
			<!-- /row -->
			<!-- row -->
			<div id="bottom-footer" class="row">

				<!-- social -->
				<div class="col-md-4 col-md-push-8">
					<ul class="footer-social">
						<Li><i class="keep-in-touch">Keep In Touch</i></Li>
						<li><a href="https://www.linkedin.com/in/ahmedyasser235" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://www.facebook.com/profile.php?id=100004770676955" class="facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://github.com/Ahmed-Yasser-Saleh" class="github"><i class="fa fa-github"></i></a></li>
						<li><a href="https://wa.me/201150390086" class="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				</div>
				<!-- /social -->
				<!-- copyright -->
				<div class="col-md-8 col-md-pull-4">
					<div class="footer-copyright">
						<span>&copy; Copyright 2018. All Rights Reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span>
						<br>
						<span>Modified by .NET Developer : <b>Ahmed Yasser Saleh</b></span>
					</div>
				</div>
				<!-- /copyright -->

			</div>
			<!-- row -->

		</div>
		<!-- /container -->

	</footer>
	<!-- /Footer -->
	<!-- preloader -->
	<div id='preloader'><div class='preloader'></div></div>
	<!-- /preloader -->
	<!-- jQuery Plugins -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript" src="/js/google-map.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var activeLink = document.querySelector('.main-menu li.active a');
			if (activeLink) {
				activeLink.addEventListener('click', function (event) {
					event.preventDefault(); // Prevents page refresh
				});
			}
		});
	</script>
	@RenderSection("Scripts", false)
</body>
</html>
